
/* Allow font to scale more responsivley relative to the width and height of a window */
body{
      font-size: calc(0.5em + ((0.6vw + 0.4vh) / 2));

}

/* Porfolio Card Style */
.card {
  transform: scale(1);
  transition: all .2s cubic-bezier(0.59, 1.86, 0.57, 0.4);
}

.card:hover {
  transform: scale(1.09);
  animation-name: radial-pulse;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
}

/* Added to allow scaling of portfolio items */
.projects-container {
  overflow: visible;
}

/* To make Portfolio Toolbar symetrical with width of page */
.btn-group, .btn-group-vertical {
  width: 100%;
}



video {
  object-fit: cover;
}
@keyframes radial-pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.5);
  }

  100% {
    box-shadow: 0 0 0 30px rgba(0, 0, 0, 0);
  }
}
#projects {
  height: calc(100vh - 70px);

}

.reveal span.mjx-chtml {
  display: inline-block;
  line-height: 0;
  text-indent: 0;
  text-align: left;
  text-transform: none;
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  font-size-adjust: none;
  letter-spacing: normal;
  word-wrap: normal;
  word-spacing: normal;
  white-space: nowrap;
  float: none;
  direction: ltr;
  max-width: none;
  max-height: none;
  min-width: 0;
  min-height: 0;
  border: 0;
  margin: 0;
  padding: 1px 0;
  font-family: MJXc-TeX-math-I,MJXc-TeX-math-Ix,MJXc-TeX-math-Iw;
}
