

@import url(https://fonts.googleapis.com/css?family=Quicksand:400,700);


svg {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
}

#canvas {
  -webkit-filter: url("#goo");
  filter: url("#goo");
}

